<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Inventary</title>
</head>
<body class="bg-black h-screen overflow-y-scroll">
    
       <!-- nav bar -->
    <nav id="navbar" class=" fixed lg:top-0 bottom-0 right-0 left-0 h-16 backdrop-blur-md bg-neutral-900 bg-opacity-50 z-20">
    </nav>

    <div id="notification" class="fixed top-24 left-0 right-0 z-20">
    </div>

    <div class=" pt-3 pb-24 lg:pb-0 lg:pt-24 flex flex-col items-center justify-center gap-2">

            <h1 class="text-3xl text-white font-bold">Inventary</h1>

            <!-- barra de inventario -->
            <div class="flex flex-col w-11/12 gap-1 items-center">

                <div class="flex w-full gap-1">
                    <div class="flex flex-col gap-1 p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg  w-full justify-center">
                        <h2 class="text-white font-medium">Select</h2>
                        <select name="transporter" id="select-inventary" class="rounded-lg bg-slate-700 text-white outline-none w-full">
                            <option class="outline-none" id="all-option" value="All">All</option>
                            <option  class="outline-none" id="available" value="Available">Available</option>
                            <option  class="outline-none" id="descount" value="Descount">Descount</option>
                            <option  class="outline-none" id="out-of-stock-option" value="Out of stock">Out of stock</option>
                        </select>
                    </div>

                    <div class="p-2 w-3/4 lg:w-full bg-[#1E1E1F] rounded-lg backdrop-blur-lg flex flex-col justify-center gap-2">
                        <h3 class="text-white font-medium text leading-[0.8rem] text-center">
                            Register of new products
                        </h3>
                        <a href="/register-products/">
                            <button class="w-full text-white bg-slate-700 hover:bg-slate-600 transition-all ease-in-out rounded-lg flex justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text white pointer-events-none ">
                                    <path class="pointer-events-none" fill-rule="evenodd" d="M5.625 1.5H9a3.75 3.75 0 013.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 013.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 01-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875zM12.75 12a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V18a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V12z" clip-rule="evenodd" />
                                    <path class="pointer-events-none" d="M14.25 5.25a5.23 5.23 0 00-1.279-3.434 9.768 9.768 0 016.963 6.963A5.23 5.23 0 0016.5 7.5h-1.875a.375.375 0 01-.375-.375V5.25z" />
                                </svg>         
                            </button>
                        </a>
                    </div>

                    <div class="flex flex-col gap-1 lw-1/2 lg:w-full">
                        <div class="flex gap-[0.15rem] p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                            <h2 class="text-white font-medium text-sm  text leading-[0.8rem]">There are:</h2>
                            <p id="products-length" class="text-white text-sm  text leading-[0.8rem] text-center"></p>
                        </div>
                        <div class="p-2 gap-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                            <h3 class="text-white text-sm font-medium text leading-[0.8rem] text-center p-1">
                                Refresh for new information 
                            </h3>
                                <button id="reloadButton" class="w-full text-white bg-slate-700 hover:bg-slate-600 transition-all ease-in-out rounded-lg flex justify-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white z-10 pointer-events-none">
                                        <path class="pointer-events-none" fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0112.548-3.364l1.903 1.903h-3.183a.75.75 0 100 1.5h4.992a.75.75 0 00.75-.75V4.356a.75.75 0 00-1.5 0v3.18l-1.9-1.9A9 9 0 003.306 9.67a.75.75 0 101.45.388zm15.408 3.352a.75.75 0 00-.919.53 7.5 7.5 0 01-12.548 3.364l-1.902-1.903h3.183a.75.75 0 000-1.5H2.984a.75.75 0 00-.75.75v4.992a.75.75 0 001.5 0v-3.18l1.9 1.9a9 9 0 0015.059-4.035.75.75 0 00-.53-.918z" clip-rule="evenodd" />
                                    </svg>                          
                                </button>
                        </div>
                    </div> 

                </div>
                
                <div class="flex flex-col gap-1 p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full md:w-1/2 lg:w-1/2 justify-center">
                    <h2 class="text-white font-medium  text leading-[1rem]">What are you looking for?</h2>
                    <div class="flex relative">
                        <input id="search-input" type="text" class="bg-slate-700 text-white outline-none rounded-lg pl-2 w-full">
                        <button class="absolute z-10 top-0 right-0">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white pointer-events-none">
                                <path class="pointer-events-none" d="M8.25 10.875a2.625 2.625 0 115.25 0 2.625 2.625 0 01-5.25 0z" />
                                <path class="pointer-events-none" fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.125 4.5a4.125 4.125 0 102.338 7.524l2.007 2.006a.75.75 0 101.06-1.06l-2.006-2.007a4.125 4.125 0 00-3.399-6.463z" clip-rule="evenodd" />
                            </svg>                  
                        </button>
                    </div>
                </div>

            </div>

            <!-- lista de productos -->
            <div class="flex flex-col w-full items-center p-4">

            <div id="div-cured-meats" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">Cured meats</h1>
                <ul id="ul-cured-meats" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>

            <div id="div-red-meats" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">Red meats</h1>
                <ul id="ul-red-meats" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>

            <div id="div-white-meats" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">White meats</h1>
                <ul id="ul-white-meats" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>

            <div id="div-vegetables" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">Vegetables</h1>
                <ul id="ul-vegetables" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>

            <div id="div-dairy-products" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">Dairy Products</h1>
                <ul id="ul-dairy-products" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>

            <div id="div-fruits" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">Fruits</h1>
                <ul id="ul-fruits" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>

            <div id="div-grains-cereals" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">Grains and Cereals</h1>
                <ul id="ul-grains-cereals" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>

            <div id="div-oils-fats" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">Oils and Fats</h1>
                <ul id="ul-oils-fats" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>

            <div id="div-nuts" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">Nuts</h1>
                <ul id="ul-nuts" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>

            <div id="div-beverages" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">Beverages</h1>
                <ul id="ul-beverages" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>
    
            <div id="div-bakery-products" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">Bakery Products</h1>
                <ul id="ul-bakery-products" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>

            <div id="div-sauces" class="flex-col gap-2 w-full lg:w-3/4 h-full p-4 hidden">
                <h1 class="text-white text-lg font-medium">Sauces</h1>
                <ul id="ul-sauces" class="flex flex-col p-2 bg-[#1E1E1F] rounded-lg backdrop-blur-lg relative w-full justify-center">
                </ul>
            </div>

            </div>
            
    </div>

    <div id="loader">
    </div>

<script type="module" src="../components/nav.js"></script>
<script type="module" src="index.js"></script>
<script type="module" src="../components/notification.js"></script>
<script type="module" src="../components/loader.js"></script>
</body>
</html>