<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Billminderpro home</title>
</head>
<body class="bg-black h-screen">
       <!-- nav bar -->
    <nav id="navbar" class=" fixed lg:top-0 bottom-0 right-0 left-0 h-16 backdrop-blur-md bg-neutral-900 bg-opacity-50 z-20">
    </nav>

    <div id="notification" class="fixed top-24 left-0 right-0 z-20">
    </div>

    <div id="information" class="p-4 flex flex-col gap-4 items-center justify-center h-full w-full">
      <div class="flex flex-col md:flex-row lg:flex-row w-full items-center justify-center">
        <div class="flex flex-col gap-1 w-full md:w-2/5 lg:w-2/5">
        <h1 class="font-bold text-4xl text-white p text-center">
          Welcome
      </h1>
      <p id="name-user" class="text-white font-bold text-4xl text-center"></p>
        </div>
        <div class=" flex flex-col gap-2 items-center w-full justify-center p-2">
        <h3 class="text-white">
            Sales of this week
        </h3>
        <div class="bg-slate-50 rounded-lg shadow-inner shadow-black  w-11/12">
          <div id="content" class="w-full">
            <canvas id="myChart" class="w-full h-full"></canvas>
        </div>
        </div>
        </div>
      </div>  
    </div>

  
    <div id="loader">
    </div>

    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['stock', 'sell', 'shipping', 'debt'],
            datasets: [{
              label: 'percentage of things',
              data: [100, 10, 3, 5],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: false
              }
            }
          }
        });
      </script>

<script type="module" src="../components/nav.js"></script>
<script type="module" src="index.js"></script>
<script type="module" src="../components/notification.js"></script>
<script type="module" src="../components/loader.js"></script>

</body>
</html>