<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>billminderpro</title>
</head>
<body class=" bg-black overflow-y-scroll overflow-x-hidden">
    <!-- nav bar -->
    <nav id="navbar" class=" fixed top-0 right-0 left-0 h-[5rem] backdrop-blur-md bg-neutral-900 bg-opacity-40 z-20">
    </nav>

    <!-- home information -->
<div class="gap-4 flex flex-col items-center  justify-center h-screen w-full p-4 bg-gradient-to-bl lg:bg-gradient-to-r from-[#0d0822] from-30% via-[#202E6E]  to-[#8CA1F1] backdrop-blur-2xl">
    <div class="gap-4 flex flex-col items-center lg:flex-row lg:justify-center">
        <h1 class="text-[2.7rem] bg-gradient-to-r from-[#8CA1F1] via-[#202E6E] to-[#657BB9] bg-clip-text text-transparent font-bold opacity-90 shadow-md  md:text-[3.4rem] lg:text-7xl">BILLMINDERPRO</h1>
        <div class="flex-col lg:pt-20">
            <p class=" text-white text-center bg-blue-950 bg-opacity-20 backdrop-blur-sm p-5 font-semibold rounded-md">
                Welcome to Billminderpro, your all-in-one solution for efficient business management. Whether you're a small startup or an established enterprise, our platform provides you with powerful tools to streamline your operations, boost productivity, and drive growth. With a user-friendly interface and robust features, we empower you to take control of your inventory, sales, invoicing, collections, and more.
            </p>
            <div class=" flex flex-row  justify-evenly  gap-4 p-4">
                <a href="/signup/" class="text-white relative font-bold bg-blue-950  p-3 shadow-lg rounded-full hover:bg-blue-900 transition-all ease-in-out">signup</a>
                <a  href="/login/" class="text-white relative font-bold hover:bg-blue-900 hover:shadow-2xl p-3 rounded-full">login</a>
                <a href="/signup-business/" class="text-white relative font-bold hover:bg-blue-900 hover:shadow-2xl p-3 rounded-full">empresas</a>
            </div>
        </div>
    </div>
</div>

    <!-- history proyect -->
    <div class="h-screen flex flex-col justify-center items-center gap-6 p-4 bg-white ">
    <!-- <img class="absolute -z-10 h-screen w-screen" src="/img/fondo-historia.jpg" alt="fondo-historia">   -->
        <div class="flex flex-col gap-6 p-4 lg:flex-row lg:justify-center md:items-center">
            <h1 class="text-7xl font-extrabold text-left text-blue-950 lg:text-9xl md:text-8xl md:text-center">OUR <br>
                 PROYECT</h1>
            <p class="text-blue-950 text-left font-semibold relative lg:top-7 lg:p-2 md:text-center">
                At Billminderpro, we understand the challenges faced by businesses in managing their daily operations effectively. Our journey began with a vision to simplify these complexities and provide a comprehensive solution that meets the needs of modern businesses. We are passionate about empowering entrepreneurs, managers, and professionals with a user-friendly platform that optimizes their workflows, saving time and resources. Join us on this journey and unlock the full potential of your business.
            </p>
        </div>
    </div>

    <!-- features -->
<div class="h-full bg-blue-950 flex flex-col items-center p-4 ">
        <h1 class="text-white text-lg font-bold text-center top-8 lg:text-3xl md:text-2xl">Discover the powerful features of Billminderpro that make it the ultimate business management tool:</h1>
        <ul class="p-4 gap-4 flex flex-col items-center justify-center md:text-base">
            <div class="flex flex-row gap-2 p-2 justify-center items-center">
                <li class="text-white text-sm text-center p-2 md:text-base md:w-[18rem] lg:w-[22rem] lg:text-lg flex flex-col items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                      </svg>                      
                    <h3 class="font-semibold">Inventory Management:</h3>
                  Easily track your products, manage stock levels, and stay organized.
                </li>
                <li class="text-white text-sm text-center p-2 md:text-base md:w-[18rem] lg:w-[22rem] lg:text-lg flex flex-col items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>                      
                    <h3 class="font-semibold">Sales:</h3>
                   Streamline your sales process, generate invoices, and manage customer orders.
                </li>
            </div>
            <div  class="flex flex-col justify-center items-center p-2 gap-4  lg:flex-row">
                <div class="flex flex-row gap-2">
                    <li class="text-white text-sm text-center p-2 md:text-base md:w-[18rem] lg:w-[22rem] lg:text-lg flex flex-col items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z" />
                          </svg>                          
                        <h3 class="font-semibold">Invoicing:</h3>
                         Create professional invoices, track payments, and simplify your financial transactions.
                    </li>
                    <li class="text-white text-sm text-center p-2 md:text-base md:w-[18rem] lg:w-[22rem] lg:text-lg flex flex-col items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                          </svg>                          
                        <h3 class="font-semibold">Collections:</h3>
                         Effortlessly manage and track your collections, ensuring timely payments.
                    </li>
                </div>
                <li class="text-white text-sm text-center w-[18rem] lg:w-[22rem] p-2 md:text-base lg:text-lg flex flex-col items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5m.75-9l3-3 2.148 2.148A12.061 12.061 0 0116.5 7.605" />
                      </svg>                      
                    <h3 class="font-semibold">Statistics and Insights:</h3>
                    Gain valuable insights into your business performance with comprehensive statistics and reports.
                </li>
            </div>
        </ul>
        <p class="text-white text-sm text-center lg:text-base">
            Explore the screenshots below to see the intuitive interface and functionalities of our platform:
        </p>

        <!-- [Carousel of screenshots showcasing various features of the website] -->
        <div class="flex flex-row gap-4 shadow-lg backdrop:blur-md p-2  rounded-lg">
            <img class="h-20 w-28 rounded-xl shadow-inner" src="/img/historia-empresa (1).jpg" alt="empresa-deco">
            <img class="h-20 w-28 rounded-xl shadow-inner" src="/img/historia-empresa (2).jpg" alt="empresa-deco2">
            <img class="h-20 w-28 rounded-xl shadow-inner" src="/img/historia-empresa (3).jpg" alt="empresa-deco3">
        </div>
</div>

<!-- contact and links -->
    <footer class="bg-blue-950 p-6 bg-opacity-40 lg:h-60 h-80 flex flex-col lg:flex-row items-center justify-evenly gap-4 lg:justify-items-center">
        <div class="flex flex-col items-center lg:flex-row lg:gap-2">
            <h1 class="text-white text-4xl font-bold">BILLMINDERPRO</h1>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
              </svg>
        </div>
        <div class="flex flex-col items-center lg:items-start">
            <h4 class="text-white font-semibold">Email:</h4>
            <p class="text-white">billminderpro111@gmail.com</p>
            <h4 class="text-white font-semibold">Phone:</h4>
            <p class="text-white">04141306409</p>
            <h4 class="text-white font-semibold">Address:</h4>
            <p class="text-white">soon</p>
        </div>
        <div class="flex flex-col items-center lg:items-start">
            <a  class="text-white font-semibold underline" href="/login/">login</a>
            <a class="text-white font-semibold underline" href="/signup/">signup</a>
        </div>
    </footer>

<script src="../components/nav.js"></script>

</body>
</html> 